# Environment variables
.env
.env*.local

# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Ignorar archivos de credenciales y secretos
service-account-key.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
